<div class='kanban-column'>
    <h3>{{ columnName }}</h3>
    <div class='kanban-tasks' {{bind-attr data-task-status="columnStatus"}}>
        {{#each task in columnTasks}}
            <div {{bind-attr class=":kanban-task task.taskwarrior_class"}} {{bind-attr data-uuid='task.uuid'}}>
                <div class='description'>
                    ({{task.intheamkanbansortorder}}) {{ task.description }}
                    <a href="#" {{action "edit_task" task}}>
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
</div>
