<div class="row full-width">
    <div id="mobile-list" class="task-list">
        <input results=5 autosave=intheamsearch type="search" class="filter-string-element" id="filter-string" />
        {{#each task in pendingTasks}}
            <div class="task">
                {{#link-to "task" task }}
                    <div {{bind-attr class=":task-item task.taskwarrior_class"}}>
                        <div {{bind-attr class=":task-list-icon task.status"}}>
                            <i {{bind-attr class=":task-icon :fa task.icon"}}></i>
                        </div>
                        <div class="task-list-item">
                            {{#if task.project}}
                                <h5 class="status" {{bind-attr title="task.project"}}>{{propercase task.project}}</h5>
                            {{/if}}
                            <p class="description">{{task.description}}</p>
                            <p class="tags">
                                {{#if task.annotations}}
                                    <i class="fa fa-pencil-square"></i>
                                {{/if}}
                                {{#each task.tags}}
                                    <i class="fa fa-tag">{{this}}</i>
                                {{/each}}
                            </p>
                        </div>
                    </div>
                {{/link-to}}
            </div>
        {{else}}
            <div class="task">
                <div class="task-item">
                    <div class="task-list-item">
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
