<div class="row standalone">
    <h2>Activity Log</h2>

    <table class="log">
        <thead>
            <tr>
                <th>Last Seen</th>
                <th>First Seen</th>
                <th>Message</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {{#each message in controller}}
                {{#if message.error}}
                    <tr class="error">
                {{else}}
                    <tr class="info">
                {{/if}}
                    <td class="last_seen">{{fromnow message.last_seen}}</td>
                    <td class="created">{{fromnow message.created}}</td>
                    <td class="message">{{message.message}}</td>
                    <td class="count">{{message.count}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{partial "footer"}}
</div>
