<div class="row standalone">
    <h2>Settings</h2>
    <div id="settings_alerts">
    </div>

    <dl class="accordion" data-accordion>
        <dd>
            <a href="#custom_taskd">Taskd Server Synchronization</a>
            <div id="custom_taskd" class="content active">
                <div class="row">
                    <div class="large-12 columns">
                        <label>Taskd Server</label>
                        {{input type="text" id="id_server" name="server" value=controllers.application.user.taskd_server}}
                    </div>
                    <div class="large-12 columns">
                        <label>Taskd Credentials</label>
                        {{input type="text" id="id_credentials" name="credentials" value=controllers.application.user.taskd_credentials}}
                    </div>
                    <div class="large-12 columns">
                        <label>Certificate</label>
                        <input type="file" name="certificate" id="id_certificate">
                        <p class="input-note">
                            {{controllers.application.user.taskd_files.taskd_certificate}}
                        </p>
                    </div>
                    <div class="large-12 columns">
                        <label>Key</label>
                        <input type="file" name="key" id="id_key">
                        <p class="input-note">
                            {{controllers.application.user.taskd_files.taskd_key}}
                        </p>
                    </div>
                    <div class="large-12 columns">
                        <label>CA Certificate</label>
                        <p class="input-note">
                            If you select to trust the taskd server, you need not upload a CA Certificate,
                            but uploading a certificate and requesting that we validate the taskd server
                            using that certificate is safer.
                        </p>
                        {{view Ember.Select value=controllers.application.user.taskd_files.taskd_trust optionValuePath="content.short" optionLabelPath="content.long" content=taskd_trust_settings id="id_trust"}}
                        <input type="file" name="ca" id="id_ca">
                        <p class="input-note">
                            {{controllers.application.user.taskd_files.taskd_ca}}
                        </p>
                    </div>
                </div>
                <a href="" class="button radius" {{action "save_taskd"}}>Save Settings</a>
                <a href="" class="button radius alert" {{action "reset_taskd"}}>Reset to Default</a>
            </div>
        </dd>
        <dd>
            <a href="#custom_colors">Task Colors</a>
            <div id="custom_colors" class="content">
                <div class="row">
                    <label>Colorscheme</label>
                </div>
            </div>
        </dd>
        <dd>
            <a href="#twilio">Twilio SMS Integration</a>
            <div id="twilio" class="content">
                <div class="row">
                    <div class="large-12 columns">
                        <label>Twilio Auth Token</label>
                        {{input type="text" id="id_twilio_auth_token" name="twilio_auth_token" value=controllers.application.user.twilio_auth_token}}
                    </div>
                    <div class="large-12 columns">
                        <label>Phone number whitelist</label>
                        {{textarea name="sms_whitelist" id="id_sms_whitelist" value=controllers.application.user.sms_whitelist placeholder="+15555555555"}}
                        <p class='input-note'>
                            One phone number per line.  Leave empty to allow messages from any phone number.
                        </p>
                    </div>
                </div>
                <a href="" class="button radius" {{action "save_twilio"}}>Save Settings</a>
            </div>
        </dd>
        <dd>
            <a href="#custom_taskrc">Custom <span class="code">.taskrc</span></a>
            <div id="custom_taskrc" class="content">
                <div class="row">
                    <div class="large-12 columns">
                        {{textarea name="custom_taskrc" value=controllers.application.user.taskrc_extras cols="80" rows="10" }}
                        <p class="input-note">
                            Only configuration values relating to urgency or UDA definitions
                            will have an effect,
                            but entering your entire local <span class="code">.taskrc</span>
                            is both safe and encouraged.
                        </p>
                    </div>
                </div>
                <a href="" class="button radius" {{action "save_taskrc"}}>Save Settings</a>
            </div>
        </dd>
        {{#if taskUpdateStreamCompatible}}
            <dd>
                <a href="#ticket_update_stream">Streaming Ticket Updates</a>
                <div id="ticket_update_stream" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            {{view Ember.Select value=taskUpdateStreamEnabledUI optionValuePath="content.short" optionLabelPath="content.long" content=taskUpdateStringSettings id="id_update_stream"}}
                            <p class="input-note">
                                Task updates are streamed directly to your browser
                                by default, but can be disabled if you are trying
                                to reduce the amount of data used, or the amount
                                battery consumed.
                            </p>
                            <p class="input-note">
                                <strong>Note:</strong> Your page will refresh upon
                                saving this change.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius" {{action "save_streaming"}}>Save Settings</a>
                </div>
            </dd>
        {{/if}}
        <dd>
            <a href="#dangerous">Danger Zone</a>
            <div id="dangerous" class="content">
                <div class="row">
                    <div class="large-12 columns">
                        <p>
                            Pressing this button will delete both any task information
                            currently stored in your task list on Inthe.AM, as well as
                            clear any information stored in your Inthe.AM taskd account.
                        </p>
                    </div>
                </div>
                <a href="" class="button radius alert" {{action "clear_task_data"}}>Clear Task Data</a>
            </div>
        </dd>
    </dl>
    {{partial "footer"}}
</div>
