<div class="task-content-header pure-g">
    <div class="pure-u-1-2">
        <h1 class="title">
            {{description}}
        </h1>
        {{#if project}}
            <p class="subtitle" {{bind-attr title="project"}}>
                {{propercase project}}
            </p>
        {{/if}}
        <div class="tags">
            {{#each tags}}
                <i class="fa fa-tag">{{this}}</i>
            {{/each}}
        </div>
    </div>
    <div class="pure-u-1-2 controls">
        {{#if editable}}
            <button class="pure-button secondary-button" {{action "complete"}}>Mark Completed</button>
        {{/if}}
    </div>
</div>
<div class="task-content-body">
    <table class="pure-table pure-table-horizontal">
        <tbody>
            {{#if dependent_tickets}}
                <tr>
                    <th>Depends Upon</th>
                    <td>
                        <ul class="depends_tickets">
                            {{#each dependent_tickets}}
                                <li {{bind-attr class="this.status"}}>
                                    {{#link-to 'task' this}}{{this.description}}{{/link-to}}
                                </li>
                            {{/each}}
                        </ul>
                    </td>
                </tr>
            {{/if}}
            <tr>
                <th>Description</th>
                <td>{{description}}</td>
            </tr>
            <tr>    
                <th>Project</th>
                <td>{{project}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{propercase status}}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>
                    {{#each tags}}
                        <i class="fa fa-tag">{{this}}</i>
                    {{/each}}
                </td>
            </tr>
            <tr>
                <th>Urgency</th>
                <td>{{urgency}}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{priority}}</td>
            </tr>
            <tr>
                <th>Due</th>
                <td>{{calendar due}}</td>
            </tr>
            <tr>
                <th>Entered</th>
                <td>{{calendar entry}}</td>
            </tr>
            <tr>
                <th>Started</th>
                <td>{{calendar start}}</td>
            </tr>
            <tr>
                <th>Wait</th>
                <td>{{calendar wait}}</td>
            </tr>
            <tr>
                <th>Scheduled</th>
                <td>{{calendar scheduled}}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{calendar modified}}</td>
            </tr>
            <tr>
                <th>UUID</th>
                <td>{{uuid}}</td>
            </tr>
        </tbody>
    </table>
    <ul class='annotation_list'>
        {{#each processed_annotations}}
            <li>
                {{calendar this.entry}}:
                {{ this.description }}
            </li>
        {{/each}}
    </ul>
</div>
