<div class="row standalone">
    <div class="standalone-content">
        <h2>Configuration &amp; Settings</h2>
        <div id="settings_alerts">
        </div>

        {{#if applicationController.user.username}}
            {{#unless applicationController.user.sync_enabled}}
                <div class="block error">
                    <p>
                        Inthe.AM encountered a problem synchronizing your tasks with
                        the taskserver you have asked us to use, and
                        synchronization has been disabled for your account.
                    </p>
                    <p>
                        This can occur if either your taskserver synchronization settings
                        below are incorrect, or if the server you are synchronizing
                        with encountered a temporary outage.
                    </p>
                    <p>
                        Please take a moment to verify that you have entered the
                        correct settings, then re-enable synchronization by
                        clicking the button below.
                    </p>
                    <a href="" class="button radius alert" {{action "enable_sync"}}>
                        Re-enable Synchronization
                    </a>
                </div>
            {{/unless}}
        {{/if}}

        <ul class="accordion" data-accordion>
            <li class="accordion-navigation">
                <a href="#custom_taskd">Synchronization Settings</a>
                <div id="custom_taskd" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <p>
                                Inthe.AM provides a built-in taskserver for you
                                to synchronize your tasks with; follow the
                                instructions below for setting up your local
                                taskwarrior client to synchronize with Inthe.AM.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            {{partial "sync-instructions"}}
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#trello">Trello Board Integration</a>
                <div id="trello" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <p>
                                Inthe.AM provides Trello
                                integration so you can manage your tasks on a
                                Trello board, too.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            {{#if applicationController.user.trello_board_url}}
                                <p>
                                    Trello integration is currently turned on; you can access
                                    your Trello board by clicking the 'Trello' button at the 
                                    top of your screen, or by going to the following URL:
                                </p>
                                <ul>
                                    <li>
                                        <a href="{{applicationController.user.trello_board_url}}">{{applicationController.user.trello_board_url}}</a>.
                                    </li>
                                </ul>
                            {{else}}
                                <p>
                                    Once Trello integration is turned on, Inthe.AM will automatically
                                    create a new Trello board on your account.  All of your pending
                                    tasks will be displayed on the board in various columns, and any
                                    changes you make on Inthe.AM, using any Taskwarrior
                                    clients synchronizing with Inthe.AM, or directly on your Trello
                                    board will automatically be synchronized.
                                </p>
                            {{/if}}
                            <p>
                                Protips:
                            </p>
                            <ul>
                                <li>
                                    You can change the list a task is displayed on by changing the
                                    value of the field <span class=="code">intheamtrellolistname</span>.
                                </li>
                                <li>
                                    You can change the description of a task by changing he value
                                    of the field <span class=="code">intheamtrellodescription</span>.
                                </li>
                            </ul>
                            <p>
                                Please:
                            </p>
                            <ul>
                                <li>
                                    Do not delete your "To Do" list!  Inthe.AM will add tasks to that
                                    list when you create them!
                                </li>
                                <li>
                                    Do not change the values of the following fields -- they may
                                    cause Inthe.AM to have difficulty synchronizing with your
                                    Trello account:
                                    <ul>
                                        <li><span class="code">intheamtrelloid</span></li>
                                        <li><span class=="code">intheamtrelloboardid</span></li>
                                        <li><span class=="code">intheamtrellourl</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            {{#if applicationController.user.trello_board_url}}
                                <a href="" class="button radius alert" {{action "reset_trello_settings"}}>Reset Trello settings</a>
                                <a href="" class="button radius" {{action "trello_force_resynchronization"}}>Force Resynchronization</a>
                            {{else}}
                                <a class="button radius" href="{{applicationController.urls.trello_authorization_url }}?api_key={{ applicationController.user.api_key }}">Click here to get started</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#deduplicate"><strong>BETA:</strong> Task Deduplication</a>
                <div id="deduplicate" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <p>
                                <strong>BETA:</strong> Inthe.AM provides basic
                                task de-duplication for recurring events that
                                may have been created by multiple devices.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <p>
                                Automatically de-duplicate tasks?
                            </p>
                            {{view "select" value=applicationController.user.auto_deduplicate optionValuePath="content.value" optionLabelPath="content.human" content=deduplicateUI name="autodeduplicate"}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <a href="" class="button radius" {{action "deduplication_config"}}>Save Deduplication Settings</a>
                            <a href="" class="button radius" {{action "deduplicate_tasks"}}>Deduplicate Tasks Now</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#bugwarrior"><strong>BETA:</strong> Bugwarrior Integration</a>
                <div id="bugwarrior" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <p>
                                <strong>BETA:</strong> Inthe.AM provides Bugwarrior
                                integration allowing you to synchronize issues from
                                JIRA, Github, Bitbucket, and many other services
                                automatically.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <p>
                                Your bugwarrior configuration:
                            </p>
                            {{textarea name="bugwarrior_config" value=applicationController.user.bugwarrior_config}}
                            <p class="input-note">
                                See <a href="http://bugwarrior.readthedocs.org/en/latest/common_configuration.html">Bugwarrior's Documentation</a> for information
                                about how to configure synchronization with your services.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <a href="" class="button radius" {{action "update_bugwarrior_config"}}>Update Bugwarrior Configuration</a>
                            <a href="" class="button radius" {{action "schedule_bugwarrior_synchronization"}}>Resynchronize Now</a>
                            <a href="" class="button radius alert" {{action "delete_bugwarrior_configuration"}}>Delete Bugwarrior Configuration</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#zapier-integration"><STRONG>BETA:</strong>Zapier Integration</a>
                <div id="zapier-integration" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Integrate your task list with other services you use.</h3>
                            <p>
                                Using Zapier, you can integrate your Taskwarrior task list with
                                other services by either creating new tasks in your task list when
                                something happens in another service, or doing something in another
                                service when a task is created or changed on your task list.
                            </p>
                            <table class="pure-table pure-table-horizontal">
                                <tr>
                                    <th>
                                        Beta Access URL:
                                    </th>
                                    <td>
                                        <a href="https://zapier.com/platform/public-invite/208/fb980a74a7d3efada0fa7ba221190817/">https://zapier.com/platform/public-invite/208/fb980a74a7d3efada0fa7ba221190817/</a>
                                    </td>
                                </tr>
                            </table>
                            <p>
                                <strong>This is a BETA feature</strong>; don't expect everything
                                to work perfectly!  If you have any questions or run into any trouble,
                                though, please join Inthe.AM's <a href="https://gitter.im/coddingtonbear/inthe.am">gitter channel</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#interface">Interface, UDAs, and Customizations</a>
                <div id="interface" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Built-in UDAs</h3>
                            <p>
                                Inthe.AM utilizes a handful of UDAs for managing your tasks, if
                                you would like to use or see the values of these locally, add
                                the following settings to your <span class="code">.taskrc</span>.
                            </p>
                            <pre class="para">{{applicationController.user.system_udas}}</pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Color Scheme</h3>
                            <label>Color Scheme</label>
                            {{view "select" value=applicationController.user.colorscheme optionValuePath="content.file" optionLabelPath="content.name" content=themeOptions name="theme_selector"}}
                            <a href="" class="button radius" {{action "save_colorscheme"}}>Save Color Scheme</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Custom <span class="code">.taskrc</span></h3>
                            {{textarea name="custom_taskrc" value=applicationController.user.taskrc_extras cols="80" rows="10" }}
                            <p class="input-note">
                                Only configuration values relating to urgency or UDA definitions
                                will have an effect,
                                but entering your entire local <span class="code">.taskrc</span>
                                is both safe and encouraged.
                            </p>
                            <a href="" class="button radius" {{action "save_taskrc"}}>Save Settings</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#api">API Access</a>
                <div id="api" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Add, create or modify your tasks using the REST API</h3>
                            <p>
                                Your Taskwarrior tasks are accessible via a RESTful API; you can
                                use this to query, create, complete, or change
                                tasks in your task list.
                            </p>
                            <table class="pure-table pure-table-horizontal">
                                <tr>
                                    <th>
                                        API Key
                                    </th>
                                    <td>
                                        {{ applicationController.user.api_key }}
                                    </td>
                                </tr>
                            </table>
                            <p>
                                For details regarding how to access and use this API, please consult the
                                <a href="http://intheam.readthedocs.org/en/latest/api/index.html">API Documentation</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#feeds">iCal &amp; RSS Feeds</a>
                <div id="feeds" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>iCal Feed</h3>
                            <p>
                                Turn this feature on to gain access to two different
                                iCal feeds that you can add to either your Google
                                Calendar or any other calendaring application that
                                supports the iCal standard.
                            </p>
                            {{#unless applicationController.user.ical_enabled}}
                                <div class="block warning">
                                    <p>
                                        For your security, your iCal feed is disabled
                                        by default.  Although your iCal feed's URL is unique
                                        and randomly generated, no authentication is used
                                        to improve compatibility with iCal feed readers.
                                        <a href="" {{action "save_ical" true}}>Enable your iCal Feed</a>.
                                    </p>
                                </div>
                            {{else}}
                                <table class="pure-table pure-table-horizontal">
                                    <tr>
                                        <th>
                                            Task Due Dates iCal Feed URL
                                        </th>
                                        <td>
                                            https://inthe.am{{ applicationController.urls.ical_due_url }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Task Waiting Dates iCal Feed URL
                                        </th>
                                        <td>
                                            https://inthe.am{{ applicationController.urls.ical_waiting_url }}
                                        </td>
                                    </tr>
                                </table>
                            {{/unless}}
                            <label>iCal Task Feed</label>
                            {{view "select" value=applicationController.user.ical_enabled optionValuePath="content.value" optionLabelPath="content.human" content=feedEnabledUI name="ical_config"}}
                            <a href="" class="button radius" {{action "save_ical"}}>Save Settings</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>RSS Feed</h3>
                            <p>
                                Turn this feature on to gain access to an RSS feed
                                listing your most urgent tasks.
                            </p>
                            {{#unless applicationController.user.feed_enabled}}
                                <div class="block warning">
                                    <p>
                                        For your security, your feed is disabled
                                        by default.  Although your feed's URL is unique
                                        and randomly generated, no authentication is used
                                        to improve compatibility with RSS feed readers.
                                        <a href="" {{action "save_feed" true}}>Enable your RSS Feed</a>.
                                    </p>
                                </div>
                            {{else}}
                                <table class="pure-table pure-table-horizontal">
                                    <tr>
                                        <th>
                                            Feed URL
                                        </th>
                                        <td>
                                            https://inthe.am{{ applicationController.urls.feed_url }}
                                        </td>
                                    </tr>
                                </table>
                            {{/unless}}
                            <label>RSS Task Feed</label>
                            {{view "select" value=applicationController.user.feed_enabled optionValuePath="content.value" optionLabelPath="content.human" content=feedEnabledUI name="feed_config"}}
                            <a href="" class="button radius" {{action "save_feed"}}>Save Settings</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#email">Email Access</a>
                <div id="email" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Create new tasks by sending an email message</h3>
                            <p>
                                Inthe.AM can receive and add items to your task list via email.
                            </p>
                            {{#unless applicationController.user.email_whitelist}}
                                <div class="block warning">
                                    <p>
                                        For your security, the ability to receive tasks via email
                                        requires that you enter email addresses into the whitelist
                                        below to prevent others from being able to add tasks to your
                                        task list.
                                    </p>
                                </div>
                            {{else}}
                                <table class="pure-table pure-table-horizontal">
                                    <tr>
                                        <th>
                                            Your Inthe.AM email address
                                        </th>
                                        <td>
                                            {{create-mailto applicationController.user.task_creation_email_address}}
                                        </td>
                                    </tr>
                                </table>
                                <p>
                                    Simply send an email to
                                    {{create-mailto applicationController.user.task_creation_email_address}}
                                    with either an empty subject or the word <strong>New</strong>, and a
                                    body containing the text you would use on the command-line to create a task.
                                </p>
                                <p>
                                    For example:
                                </p>
                                <blockquote>
                                    From: {{applicationController.user.email}}<br />
                                    To: {{applicationController.user.task_creation_email_address}}<br />
                                    Subject: New<br />
                                    <br />
                                    Find local source for flux capacitor parts.  project:time_machine priority:h +delorean
                                </blockquote>
                                <h4>Advanced Use</h4>
                                <p>
                                    Although setting task attributes in the body of the email itself
                                    will work just fine, you can also specify task attributes or tags
                                    by adding suffixes to the email address itself.
                                </p>
                                <p>
                                    For example, to automatically add the tag "alpha" to an incoming
                                    task, you can send an email to
                                    {{create-mailto applicationController.user.task_creation_email_address suffix="+alpha"}},
                                    or to set the project to "time_machine" you could send an email to
                                    {{create-mailto applicationController.user.task_creation_email_address suffix="__project=time_machine"}}.
                                </p>
                                <p>
                                    Tags and task attributes can be assigned simultaneously for any task
                                    attribute including any UDAs you might have specified, and you may
                                    specify any number of them simultaneously (for example, this one sets priority,
                                    project and adds two tags:
                                    {{create-mailto applicationController.user.task_creation_email_address suffix="+one__project=time_machine__priority=H+two"}}
                                    ) just be sure to
                                    follow the following format:
                                </p>
                                <table>
                                    <tr>
                                        <th>Tags</th>
                                        <td><code>+&lt;TAG&gt;</code></td>
                                    </tr>
                                    <tr>
                                        <th>Attributes</th>
                                        <td>
                                            <code>__&lt;ATTRIBUTE&gt;=&lt;VALUE&gt;</code>
                                            (Note: the &lt;ATTRIBUTE&gt; is prefixed with <strong>two</strong> underscores.)
                                        </td>
                                    </tr>
                                </table>
                            {{/unless}}
                        </div>
                        <div class="large-12 columns">
                            <label>Email Address Whitelist</label>
                            {{textarea name="email_whitelist" value=applicationController.user.email_whitelist placeholder="me@somesite.com"}}
                            <p class="input-note">
                                Only email messages recieved from addresses matching one of the above whitelisted email addresses will be accepted.
                                Please enter only one email address per line.
                                You may use '*' and '?' for more sophisticated email matching.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius" {{action "save_email"}}>Save Settings</a>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#twilio">SMS Access</a>
                <div id="twilio" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Create new tasks via text message</h3>
                            <p>
                                Inthe.AM can receive and add items to your task list via SMS, but
                                it requires a little bit of configuration on your part.
                            </p>
                            <ol>
                                <li>Sign up for a <a href="https://www.twilio.com/try-twilio">Twilio account</a>.</li>
                                <li>
                                    Add funds to your Twilio account.
                                    Consult <a href="https://www.twilio.com/sms/pricing">Twilio's pricing structure for your country</a>;
                                    you will need to have enough funds in your account to pay for your phone number (usually about 1 USD/month),
                                    and to send and receive text messages &mdash; generally between 0.0075 USD and 0.10 USD/message depending upon the
                                    country of both your phone's phone number and the Twilio phone number you've purchased. 
                                </li>
                                <li>
                                    <a href="https://www.twilio.com/user/account/phone-numbers/available/local">Buy a phone number</a>.
                                </li>
                                <li>
                                    From your phone number's configuration screen, set the field "Messaging Request URL" to
                                    your personal incoming SMS URL: <code>https://inthe.am{{ applicationController.urls.sms_url }}</code>.
                                </li>
                                <li>
                                    Press save.
                                </li>
                            </ol>
                            <p>
                                After you have configured the above, you can send SMS messages to your
                                Twilio phone number.  Currently, the only command implemented is 'add',
                                but in the future additional commands may be added.
                            </p>
                            <p>
                                As an example, you could add a task to the project "birthday" with a due
                                date of tomorrow and high priority by sending an SMS message with the following
                                contents:
                                <pre>add project:birthday due:tomorrow priority:h It's my birthday</pre>
                            </p>
                            {{#unless applicationController.user.twilio_auth_token}}
                                <div class="block warning">
                                    <p>
                                        For your security, the ability to send task messages via
                                        SMS is currently disabled for your account since you
                                        have not yet entered your Twilio auth token.
                                    </p>
                                    <p>
                                        This token is necessary for verifying that incoming messages
                                        were sent to Inthe.AM by Twilio from your account.
                                    </p>
                                    <p>
                                        Enable SMS access by filling in the below information.
                                    </p>
                                </div>
                            {{else}}
                                <table class="pure-table pure-table-horizontal">
                                    <tr>
                                        <th>
                                            Twilio Messaging Request URL <strong>(POST)</strong>
                                        </th>
                                        <td>
                                            https://inthe.am{{ applicationController.urls.sms_url }}
                                        </td>
                                    </tr>
                                </table>
                            {{/unless}}
                        </div>
                        <div class="large-12 columns">
                            <label>Twilio Auth Token</label>
                            {{input type="text" name="twilio_auth_token" value=applicationController.user.twilio_auth_token}}
                        </div>
                        <div class="large-12 columns">
                            <label>Automatic Arguments</label>
                            {{input type="text" name="sms_arguments" value=applicationController.user.sms_arguments}}
                            <p class='input-note'>
                                Arguments to add to the 'add' command.
                                For example, you could use "+sms" to add
                                the tag "sms" to all incoming tasks.
                            </p>
                        </div>
                        <div class="large-12 columns">
                            <label>Replies</label>
                            {{
                                view "select"
                                value=applicationController.user.sms_replies
                                optionValuePath="content.short"
                                optionLabelPath="content.long"
                                content=smsRepliesSettings
                                name="sms_replies"
                            }}
                        </div>
                        <div class="large-12 columns">
                            <label>Phone Number Whitelist</label>
                            {{textarea name="sms_whitelist" value=applicationController.user.sms_whitelist placeholder="+15555555555"}}
                            <p class='input-note'>
                                One phone number per line.  Leave empty to allow messages from any phone number.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius" {{action "save_twilio"}}>Save Settings</a>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#dangerous">Danger Zone</a>
                <div id="dangerous" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Delete your account information</h3>
                            <p>
                                Pressing this button will delete both any task information
                                currently stored in your task list on Inthe.AM, as well as
                                clear any information stored in your Inthe.AM taskserver account.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius alert" {{action "clear_task_data"}}>Clear Task Data</a>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Revert task list to earlier version</h3>
                            <p>
                                In rare situations, the local task list that Inthe.AM uses for 
                                interacting with your tasks may become corrupted.
                                
                                You can use this button to reset your task list to the
                                state it was in right before the most recent change.
                            </p>
                            <p>
                                This operation is not dangerous to use on task lists
                                that are properly synchronized, but there are slight
                                dangers that information might be lost.
                                
                                Please use this button only if you're absolutely sure
                                it's necessary.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius alert" {{action "revert_to_last_commit"}}>Revert task list to earlier version</a>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Manually unlock task list</h3>
                            <p>
                                Pressing this button will unlock your task list.
                                To prevent multiple actions from altering your taskwarrior
                                task list simultaneously, a lock is used.
                                Deleting this lock while an action is taking place is dangerous!
                                Although locks do time out on their own, this button provides you
                                an avenue for unlocking your repository manually.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius alert" {{action "clear_lock"}}>Manually Unlock Task List</a>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Reset Taskserver Synchronization Settings</h3>
                            <p>
                                Strictly speaking, this isn't all that dangerous.
                                Pressing this button will clear your Inthe.AM Taskserver
                                account's information and reset your synchronization settings
                                such that Inthe.AM will sync with the built-in Taskserver.
                            </p>
                            <p>
                                If you are currently synchronizing your tasks with Inthe.AM
                                from somewhere and receive a message "500 Client sync key not found"
                                after pressing this button, you need to delete the "backlog.data" file
                                from your tasks folder.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius alert" {{action "reset_taskd"}}>Reset taskserver Settings to use the Built-In taskserver</a>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Regenerate Taskserver Certificates</h3>
                            <p>
                                This button will simply re-generate your Taskserver
                                certificates.  It is strongly recommended that you
                                walk through the setup instructions described above
                                in 'Synchronization Settings' after pressing this button.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius alert" {{action "regenerate_taskd_certificate"}}>Re-generate taskserver certificate</a>
                </div>
            </li>
        </ul>
        {{partial "footer"}}
    </div>
</div>
