<div class="row standalone">
    <div class="standalone-content">
        <h2>Configuration &amp; Settings</h2>
        <div id="settings_alerts">
        </div>

        {{#unless controllers.application.user.sync_enabled}}
            <div class="block error">
                <p>
                    Inthe.AM encountered a problem synchronizing your tasks with
                    the taskserver you have asked us to use, and
                    synchronization has been disabled for your account.
                </p>
                <p>
                    This can occur if either your taskserver synchronization settings
                    below are incorrect, or if the server you are synchronizing
                    with encountered a temporary outage.
                </p>
                <p>
                    Please take a moment to verify that you have entered the
                    correct settings, then re-enable synchronization by
                    clicking the button below.
                </p>
                <a href="" class="button radius alert" {{action "enable_sync"}}>
                    Re-enable Synchronization
                </a>
            </div>
        {{/unless}}

        <ul class="accordion" data-accordion>
            <li class="accordion-navigation">
                <a href="#custom_taskd">Synchronization Settings</a>
                <div id="custom_taskd" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <p>
                                Inthe.AM provides a built-in taskserver for you
                                to synchronize your tasks with; follow the
                                instructions below for setting up your local
                                taskwarrior client to synchronize with Inthe.AM.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            {{partial "sync-instructions"}}
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#interface">Interface &amp; Customizations</a>
                <div id="interface" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Color Scheme</h3>
                            <label>Color Scheme</label>
                            {{view "select" value=controllers.application.user.colorscheme optionValuePath="content.file" optionLabelPath="content.name" content=themeOptions id="id_theme"}}
                            <a href="" class="button radius" {{action "save_colorscheme"}}>Save Color Scheme</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Custom <span class="code">.taskrc</span></h3>
                            {{textarea name="custom_taskrc" value=controllers.application.user.taskrc_extras cols="80" rows="10" }}
                            <p class="input-note">
                                Only configuration values relating to urgency or UDA definitions
                                will have an effect,
                                but entering your entire local <span class="code">.taskrc</span>
                                is both safe and encouraged.
                            </p>
                            <a href="" class="button radius" {{action "save_taskrc"}}>Save Settings</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#api">API Access</a>
                <div id="api" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Add, create or modify your tasks using the REST API</h3>
                            <p>
                                Your Taskwarrior tasks are accessible via a RESTful API; you can
                                use this to query, create, complete, or change
                                tasks in your task list.
                            </p>
                            <table class="pure-table pure-table-horizontal">
                                <tr>
                                    <th>
                                        API Key
                                    </th>
                                    <td>
                                        {{ controllers.application.user.username }}:{{ controllers.application.user.api_key }}
                                    </td>
                                </tr>
                            </table>
                            <p>
                                For details regarding how to access and use this API, please consult the
                                <a href="http://intheam.readthedocs.org/en/latest/api/index.html">API Documentation</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#feeds">RSS &amp; Pebble Feeds</a>
                <div id="feeds" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>RSS Feed</h3>
                            <p>
                                Turn this feature on to gain access to an RSS feed
                                listing your most urgent tasks.
                            </p>
                            {{#unless controllers.application.user.feed_enabled}}
                                <div class="block warning">
                                    <p>
                                        For your security, your feed is disabled
                                        by default.  Although your feed's URL is unique
                                        and randomly generated, no authentication is used
                                        to improve compatibility with RSS feed readers.
                                        <a href="" {{action "save_feed" true}}>Enable your RSS Feed</a>.
                                    </p>
                                </div>
                            {{else}}
                                <table class="pure-table pure-table-horizontal">
                                    <tr>
                                        <th>
                                            Feed URL
                                        </th>
                                        <td>
                                            https://inthe.am{{ controllers.application.urls.feed_url }}
                                        </td>
                                    </tr>
                                </table>
                            {{/unless}}
                            <label>RSS Task Feed</label>
                            {{view "select" value=controllers.application.user.feed_enabled optionValuePath="content.value" optionLabelPath="content.human" content=feedEnabledUI id="id_feed_config"}}
                            <a href="" class="button radius" {{action "save_feed"}}>Save Settings</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Pebble Cards URL</h3>
                            <p> 
                                <a href="http://keanulee.com/pebblecards/">Pebble Cards</a> is a
                                <a href="https://getpebble.com/">Pebble</a> application
                                allowing one quick access to information like
                                one's upcoming appointments, the local weather, and when the
                                sun will set today.  Inthe.AM provides a URL you can use with
                                Pebble Cards for displaying your current highest priority task.
                            </p>
                            {{#unless controllers.application.user.pebble_cards_enabled}}
                                <div class="block warning">
                                    <p>
                                        For your security, your Pebble Cards URL is disabled
                                        by default.  Although your Pebble Cards URL is unique
                                        and randomly generated, due to limitations in Pebble
                                        Cards, no authentication is used.
                                        <a href="" {{action "save_pebble_cards" true}}>Enable your Pebble Cards URL</a>.
                                    </p>
                                </div>
                            {{else}}
                                <table class="pure-table pure-table-horizontal">
                                    <tr>
                                        <th>
                                            Pebble Cards URL
                                        </th>
                                        <td>
                                            https://inthe.am{{ controllers.application.urls.pebble_card_url }}
                                        </td>
                                    </tr>
                                </table>
                            {{/unless}}
                            <label>Pebble Cards URL</label>
                            {{view "select" value=controllers.application.user.pebble_cards_enabled optionValuePath="content.value" optionLabelPath="content.human" content=pebbleCardsEnabledUI id="id_pebble_cards_config"}}
                            <a href="" class="button radius" {{action "save_pebble_cards"}}>Save Settings</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#email">Email Access</a>
                <div id="email" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Create new tasks by sending an email message</h3>
                            <p>
                                Inthe.AM can receive and add items to your task list via email.
                            </p>
                            {{#unless controllers.application.user.email_whitelist}}
                                <div class="block warning">
                                    <p>
                                        For your security, the ability to receive tasks via email
                                        requires that you enter email addresses into the whitelist
                                        below to prevent others from being able to add tasks to your
                                        task list.
                                    </p>
                                </div>
                            {{else}}
                                <table class="pure-table pure-table-horizontal">
                                    <tr>
                                        <th>
                                            Your Inthe.AM email address
                                        </th>
                                        <td>
                                            {{create-mailto controllers.application.user.task_creation_email_address}}
                                        </td>
                                    </tr>
                                </table>
                                <p>
                                    Simply send an email to
                                    {{create-mailto controllers.application.user.task_creation_email_address}}
                                    with either an empty subject or the word <strong>New</strong>, and a
                                    body containing the text you would use on the command-line to create a task.
                                </p>
                                <p>
                                    For example:
                                </p>
                                <blockquote>
                                    From: {{controllers.application.user.email}}<br />
                                    To: {{controllers.application.user.task_creation_email_address}}<br />
                                    Subject: New<br />
                                    <br />
                                    Find local source for flux capacitor parts.  project:time_machine priority:h +delorean
                                </blockquote>
                                <h4>Advanced Use</h4>
                                <p>
                                    Although setting task attributes in the body of the email itself
                                    will work just fine, you can also specify task attributes or tags
                                    by adding suffixes to the email address itself.
                                </p>
                                <p>
                                    For example, to automatically add the tag "alpha" to an incoming
                                    task, you can send an email to
                                    {{create-mailto controllers.application.user.task_creation_email_address suffix="+alpha"}},
                                    or to set the project to "time_machine" you could send an email to
                                    {{create-mailto controllers.application.user.task_creation_email_address suffix="__project=time_machine"}}.
                                </p>
                                <p>
                                    Tags and task attributes can be assigned simultaneously for any task
                                    attribute including any UDAs you might have specified, and you may
                                    specify any number of them simultaneously (for example, this one sets priority,
                                    project and adds two tags:
                                    {{create-mailto controllers.application.user.task_creation_email_address suffix="+one__project=time_machine__priority=H+two"}}
                                    ) just be sure to
                                    follow the following format:
                                </p>
                                <table>
                                    <tr>
                                        <th>Tags</th>
                                        <td><code>+&lt;TAG&gt;</code></td>
                                    </tr>
                                    <tr>
                                        <th>Attributes</th>
                                        <td>
                                            <code>__&lt;ATTRIBUTE&gt;=&lt;VALUE&gt;</code>
                                            (Note: the &lt;ATTRIBUTE&gt; is prefixed with <strong>two</strong> underscores.)
                                        </td>
                                    </tr>
                                </table>
                            {{/unless}}
                        </div>
                        <div class="large-12 columns">
                            <label>Email Address Whitelist</label>
                            {{textarea name="email_whitelist" id="id_email_whitelist" value=controllers.application.user.email_whitelist placeholder="me@somesite.com"}}
                            <p class="input-note">
                                Only email messages recieved from addresses matching one of the above whitelisted email addresses will be accepted.
                                Please enter only one email address per line.
                                You may use '*' and '?' for more sophisticated email matching.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius" {{action "save_email"}}>Save Settings</a>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#twilio">SMS Access</a>
                <div id="twilio" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Create new tasks via text message</h3>
                            <p>
                                Inthe.AM can receive and add items to your task list via SMS, but
                                it requires a little bit of configuration on your part.
                            </p>
                            <ol>
                                <li>Sign up for a <a href="https://www.twilio.com/try-twilio">Twilio account</a>.</li>
                                <li>
                                    Add funds to your Twilio account.
                                    Consult <a href="https://www.twilio.com/sms/pricing">Twilio's pricing structure for your country</a>;
                                    you will need to have enough funds in your account to pay for your phone number (usually about 1 USD/month),
                                    and to send and receive text messages &mdash; generally between 0.0075 USD and 0.10 USD/message depending upon the
                                    country of both your phone's phone number and the Twilio phone number you've purchased. 
                                </li>
                                <li>
                                    <a href="https://www.twilio.com/user/account/phone-numbers/available/local">Buy a phone number</a>.
                                </li>
                                <li>
                                    From your phone number's configuration screen, set the field "Messaging Request URL" to
                                    your personal incoming SMS URL: <code>https://inthe.am{{ controllers.application.urls.sms_url }}</code>.
                                </li>
                                <li>
                                    Press save.
                                </li>
                            </ol>
                            <p>
                                After you have configured the above, you can send SMS messages to your
                                Twilio phone number.  Currently, the only command implemented is 'add',
                                but in the future additional commands may be added.
                            </p>
                            <p>
                                As an example, you could add a task to the project "birthday" with a due
                                date of tomorrow and high priority by sending an SMS message with the following
                                contents:
                                <pre>add project:birthday due:tomorrow priority:h It's my birthday</pre>
                            </p>
                            {{#unless controllers.application.user.twilio_auth_token}}
                                <div class="block warning">
                                    <p>
                                        For your security, the ability to send task messages via
                                        SMS is currently disabled for your account since you
                                        have not yet entered your Twilio auth token.
                                    </p>
                                    <p>
                                        This token is necessary for verifying that incoming messages
                                        were sent to Inthe.AM by Twilio from your account.
                                    </p>
                                    <p>
                                        Enable SMS access by filling in the below information.
                                    </p>
                                </div>
                            {{else}}
                                <table class="pure-table pure-table-horizontal">
                                    <tr>
                                        <th>
                                            Twilio Messaging Request URL <strong>(POST)</strong>
                                        </th>
                                        <td>
                                            https://inthe.am{{ controllers.application.urls.sms_url }}
                                        </td>
                                    </tr>
                                </table>
                            {{/unless}}
                        </div>
                        <div class="large-12 columns">
                            <label>Twilio Auth Token</label>
                            {{input type="text" id="id_twilio_auth_token" name="twilio_auth_token" value=controllers.application.user.twilio_auth_token}}
                        </div>
                        <div class="large-12 columns">
                            <label>Automatic Arguments</label>
                            {{input type="text" id="id_sms_arguments" name="sms_arguments" value=controllers.application.user.sms_arguments}}
                            <p class='input-note'>
                                Arguments to add to the 'add' command.
                                For example, you could use "+sms" to add
                                the tag "sms" to all incoming tasks.
                            </p>
                        </div>
                        <div class="large-12 columns">
                            <label>Replies</label>
                            {{
                                view "select"
                                value=controllers.application.user.sms_replies
                                optionValuePath="content.short"
                                optionLabelPath="content.long"
                                content=smsRepliesSettings
                                id="id_sms_replies"
                            }}
                        </div>
                        <div class="large-12 columns">
                            <label>Phone Number Whitelist</label>
                            {{textarea name="sms_whitelist" id="id_sms_whitelist" value=controllers.application.user.sms_whitelist placeholder="+15555555555"}}
                            <p class='input-note'>
                                One phone number per line.  Leave empty to allow messages from any phone number.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius" {{action "save_twilio"}}>Save Settings</a>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#kanban">Team Kanban Boards (BETA)</a>
                <div id="kanban" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Team Kanban Boards (BETA)</h3>
                            <div class="block warning">
                                <p>
                                    <strong>This feature is in BETA &mdash;</strong>
                                    Kanban boards are currently in beta;
                                    this feature may not be available on your account,
                                    and if it is, it is very likely to be buggy.
                                    Use this feature at your own risk!
                                </p>
                            </div>
                            {{#if controllers.application.user.kanban_memberships}}
                                <p>You are a member of the following Team Kanban Boards:</p>
                                <ul>
                                    {{#each controllers.application.user.kanban_memberships}}
                                        <li>
                                            <a class="delete-kanban-membership" {{action "leave_kanban_board" this}}>&#215;</a>
                                            {{this.[0]}}
                                        </li>
                                    {{/each}}
                                </ul>
                            {{else}}
                                <p>You are not a member of any Team Kanban Boards.
                            {{/if}}
                        </div>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#mirakel">Mirakel Configuration</a>
                <div id="mirakel" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Download Mirakel Configuration File</h3>
                            <p>
                                If you happen to use <a href="http://mirakel.azapps.de/">Mirakel</a>, you
                                can download a configuration file configuring your device to synchronize
                                with Inthe.AM using the below button.
                            </p>
                            <p>
                                Instructions: Download this file to your smartphone and use Mirakel →
                                Settings → Sync → Add Account.
                            </p>
                            <p>
                                <strong>Note:</strong> The generated configuration will configure Mirakel
                                to synchronize with the taskserver you've configured Inthe.AM to synchronize with.
                                If you have configured Inthe.AM to synchronize with a server other than the built-in
                                taskserver, the configuration file will instruct your instance of Mirakel to
                                synchronize with <em>that</em> server rather than the built-in taskserver.
                            </p>
                        </div>
                    </div>
                    <a {{bind-attr href=controllers.application.urls.mirakel_configuration }} class="button radius">Download</a>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#dangerous">Danger Zone</a>
                <div id="dangerous" class="content">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Delete your account information</h3>
                            <p>
                                Pressing this button will delete both any task information
                                currently stored in your task list on Inthe.AM, as well as
                                clear any information stored in your Inthe.AM taskserver account.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius alert" {{action "clear_task_data"}}>Clear Task Data</a>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Revert task list to earlier version</h3>
                            <p>
                                In rare situations, the local task list that Inthe.AM uses for 
                                interacting with your tasks may become corrupted.
                                
                                You can use this button to reset your task list to the
                                state it was in right before the most recent change.
                            </p>
                            <p>
                                This operation is not dangerous to use on task lists
                                that are properly synchronized, but there are slight
                                dangers that information might be lost.
                                
                                Please use this button only if you're absolutely sure
                                it's necessary.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius alert" {{action "revert_to_last_commit"}}>Revert task list to earlier version</a>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Manually unlock task list</h3>
                            <p>
                                Pressing this button will unlock your task list.
                                To prevent multiple actions from altering your taskwarrior
                                task list simultaneously, a lock is used.
                                Deleting this lock while an action is taking place is dangerous!
                                Although locks do time out on their own, this button provides you
                                an avenue for unlocking your repository manually.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius alert" {{action "clear_lock"}}>Manually Unlock Task List</a>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Reset Taskserver Synchronization Settings</h3>
                            <p>
                                Strictly speaking, this isn't all that dangerous.
                                Pressing this button will clear your Inthe.AM Taskserver
                                account's information and reset your synchronization settings
                                such that Inthe.AM will sync with the built-in Taskserver.
                            </p>
                            <p>
                                If you are currently synchronizing your tasks with Inthe.AM
                                from somewhere and receive a message "500 Client sync key not found"
                                after pressing this button, you need to delete the "backlog.data" file
                                from your tasks folder.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius alert" {{action "reset_taskd"}}>Reset taskserver Settings to use the Built-In taskserver</a>
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>Regenerate Taskserver Certificates</h3>
                            <p>
                                This button will simply re-generate your Taskserver
                                certificates.  It is strongly recommended that you
                                walk through the setup instructions described above
                                in 'Synchronization Settings' after pressing this button.
                            </p>
                        </div>
                    </div>
                    <a href="" class="button radius alert" {{action "regenerate_taskd_certificate"}}>Re-generate taskserver certificate</a>
                </div>
            </li>
        </ul>
        {{partial "footer"}}
    </div>
</div>
