{{#if model.description}}
<div class="row" id="task-header">
    <div class="medium-12">
        <h1 class="title">
            {{model.description}}
        </h1>
        {{#if model.project}}
            <p class="subtitle" title="{{model.project}}">
                <span class="project">{{to-propercase model.project}}</span>
            </p>
        {{/if}}
        <div class="tags">
            {{#if model.due}}
                <i class="fa fa-clock-o">
                    {{moment-fromnow model.due}}
                </i>
            {{/if}}
            {{#each model.tags as |tag_name|}}
                <i class="fa fa-tag">{{tag_name}}</i>
            {{/each}}
        </div>
    </div>
</div>
<div class="row" id="task-action-bar">
    <div class="medium-12">
        {{#if model.editable}}
            <ul id="task-actions" class="inline-list">
                {{#if model.start}}
                    <li data-intro="alt+s">
                        <a href="#" {{action "stop"}}>
                            <i class="fa fa-star-o">Stop</i>
                        </a>
                    </li>
                {{else}}
                    <li data-intro="alt+s">
                        <a href="#" {{action "start"}}>
                            <i class="fa fa-star">Start</i>
                        </a>
                    </li>
                {{/if}}
                <li data-intro="alt+a">
                    <a href="#" {{action "add_annotation"}}>
                        <i class="fa fa-pencil">Add Annotation</i>
                    </a>
                </li>
                <li data-intro="alt+e">
                    <a href="#" {{action "edit"}}>
                        <i class="fa fa-pencil-square-o">Edit</i>
                    </a>
                </li>
                <li data-intro="alt+c">
                    <a href="#" {{action "complete"}}>
                        <i class="fa fa-check-circle-o">Mark Completed</i>
                    </a>
                </li>
                <li data-intro="alt+d">
                    <a href="#" {{action "delete"}}>
                        <i class="fa fa-ban">Delete</i>
                    </a>
                </li>
            </ul>
        {{/if}}
    </div>
</div>
<div class="row task-content-body">
    <div class="medium-6 columns details_table">
        <table class="details">
            <tbody>
                {{#if model.dependent_tickets}}
                    <tr>
                        <th>Depends Upon</th>
                        <td>
                            <ul class="depends_tickets">
                                {{#each model.dependent_tickets as |ticket|}}
                                    <li class="{{ticket.status}}">
                                        {{#link-to 'task' ticket}}{{ticket.description}}{{/link-to}}
                                    </li>
                                {{/each}}
                            </ul>
                        </td>
                    </tr>
                {{/if}}
                {{#if model.blocked_tickets}}
                    <tr>
                        <th>Blocks</th>
                        <td>
                            <ul class="blocked_tickets">
                                {{#each model.blocked_tickets as |ticket|}}
                                    <li class="{{ticket.status}}">
                                        {{#link-to 'task' ticket}}{{ticket.description}}{{/link-to}}
                                    </li>
                                {{/each}}
                            </ul>
                        </td>
                    </tr>
                {{/if}}
                <tr>
                    <th>Description</th>
                    <td>{{model.description}}</td>
                </tr>
                <tr>    
                    <th>Project</th>
                    <td><span class="project">{{model.project}}</span></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{to-propercase model.status}}</td>
                </tr>
                <tr>
                    <th>Tags</th>
                    <td>
                        {{#each model.tags as |tag_name|}}
                            <i class="fa fa-tag">{{tag_name}}</i>
                        {{/each}}
                    </td>
                </tr>
                <tr>
                    <th>Urgency</th>
                    <td>{{model.urgency}}</td>
                </tr>
                <tr>
                    <th>Priority</th>
                    <td>{{model.priority}}</td>
                </tr>
                <tr>
                    <th>Due</th>
                    <td>{{moment-calendar model.due}}</td>
                </tr>
                <tr>
                    <th>Entered</th>
                    <td>{{moment-calendar model.entry}}</td>
                </tr>
                <tr>
                    <th>Started</th>
                    <td>{{moment-calendar model.start}}</td>
                </tr>
                <tr>
                    <th>Wait</th>
                    <td>{{moment-calendar model.wait}}</td>
                </tr>
                <tr>
                    <th>Scheduled</th>
                    <td>{{moment-calendar model.scheduled}}</td>
                </tr>
                <tr>
                    <th>Modified</th>
                    <td>{{moment-calendar model.modified}}</td>
                </tr>
                <tr>
                    <th>UUID</th>
                    <td><span class="uuid">{{model.uuid}}</span></td>
                </tr>
                {{#each model.definedUDAs as |uda|}}
                    <tr>
                        <th>{{label}}</th>
                        <td>{{render-uda-value uda}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="medium-6 columns annotations_list">
        <ul class='annotation_list'>
            {{#each model.annotations as |annotation|}}
                <li>
                    <span class="annotation_tools">
                        <a class="delete-annotation-link" {{action "delete_annotation" annotation}}>&#215;</a>
                    </span>
                    {{markdown-to-html markdown=annotation}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}
{{partial "footer"}}
