{{#if description}}
<div class="row" id="task-header">
    <div class="medium-12">
        <h1 class="title">
            {{description}}
        </h1>
        {{#if project}}
            <p class="subtitle" {{bind-attr title="project"}}>
                <span class="project">{{to-propercase project}}</span>
            </p>
        {{/if}}
        <div class="tags">
            {{#if this.due}}
                <i class="fa fa-clock-o">
                    {{moment-fromnow this.due}}
                </i>
            {{/if}}
            {{#each tags}}
                <i class="fa fa-tag">{{this}}</i>
            {{/each}}
        </div>
    </div>
</div>
<div class="row" id="task-action-bar">
    <div class="medium-12">
        {{#if editable}}
            <ul id="task-actions" class="inline-list">
                {{#if start}}
                    <li data-intro="alt+s">
                        <a href="#" {{action "stop"}}>
                            <i class="fa fa-star-o">Stop</i>
                        </a>
                    </li>
                {{else}}
                    <li data-intro="alt+s">
                        <a href="#" {{action "start"}}>
                            <i class="fa fa-star">Start</i>
                        </a>
                    </li>
                {{/if}}
                <li data-intro="alt+a">
                    <a href="#" {{action "add_annotation"}}>
                        <i class="fa fa-pencil">Add Annotation</i>
                    </a>
                </li>
                <li data-intro="alt+e">
                    <a href="#" {{action "edit"}}>
                        <i class="fa fa-pencil-square-o">Edit</i>
                    </a>
                </li>
                <li data-intro="alt+c">
                    <a href="#" {{action "complete"}}>
                        <i class="fa fa-check-circle-o">Mark Completed</i>
                    </a>
                </li>
                <li data-intro="alt+d">
                    <a href="#" {{action "delete"}}>
                        <i class="fa fa-ban">Delete</i>
                    </a>
                </li>
            </ul>
        {{/if}}
    </div>
</div>
<div class="row task-content-body">
    <div class="medium-6 columns details_table">
        <table class="details">
            <tbody>
                {{#if dependent_tickets}}
                    <tr>
                        <th>Depends Upon</th>
                        <td>
                            <ul class="depends_tickets">
                                {{#each dependent_tickets}}
                                    <li {{bind-attr class="this.status"}}>
                                        {{#link-to 'task' this}}{{this.description}}{{/link-to}}
                                    </li>
                                {{/each}}
                            </ul>
                        </td>
                    </tr>
                {{/if}}
                {{#if blocked_tickets}}
                    <tr>
                        <th>Blocks</th>
                        <td>
                            <ul class="blocked_tickets">
                                {{#each blocked_tickets}}
                                    <li {{bind-attr class="this.status"}}>
                                        {{#link-to 'task' this}}{{this.description}}{{/link-to}}
                                    </li>
                                {{/each}}
                            </ul>
                        </td>
                    </tr>
                {{/if}}
                <tr>
                    <th>Description</th>
                    <td>{{description}}</td>
                </tr>
                <tr>    
                    <th>Project</th>
                    <td><span class="project">{{project}}</span></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{to-propercase status}}</td>
                </tr>
                <tr>
                    <th>Tags</th>
                    <td>
                        {{#each tags}}
                            <i class="fa fa-tag">{{this}}</i>
                        {{/each}}
                    </td>
                </tr>
                <tr>
                    <th>Urgency</th>
                    <td>{{urgency}}</td>
                </tr>
                <tr>
                    <th>Priority</th>
                    <td>{{priority}}</td>
                </tr>
                <tr>
                    <th>Due</th>
                    <td>{{moment-calendar due}}</td>
                </tr>
                <tr>
                    <th>Entered</th>
                    <td>{{moment-calendar entry}}</td>
                </tr>
                <tr>
                    <th>Started</th>
                    <td>{{moment-calendar start}}</td>
                </tr>
                <tr>
                    <th>Wait</th>
                    <td>{{moment-calendar wait}}</td>
                </tr>
                <tr>
                    <th>Scheduled</th>
                    <td>{{moment-calendar scheduled}}</td>
                </tr>
                <tr>
                    <th>Modified</th>
                    <td>{{moment-calendar modified}}</td>
                </tr>
                <tr>
                    <th>UUID</th>
                    <td><span class="uuid">{{uuid}}</span></td>
                </tr>
                {{#each definedUDAs}}
                    <tr>
                        <th>{{label}}</th>
                        <td>{{render-uda-value this}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="medium-6 columns annotations_list">
        <ul class='annotation_list'>
            {{#each annotations}}
                <li>
                    <span class="annotation_tools">
                        <a class="delete-annotation-link" {{action "delete_annotation" this}}>&#215;</a>
                    </span>
                    {{render-markdown this}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}
{{partial "footer"}}
